body {
    background: #bdc3c7;
    margin: 0px;
    padding: 0px;
  }
  
  .form {
    box-sizing: border-box;
    background-color: white;
    border-radius: 5px;
    width: 40%;
    margin: 10vh auto;
    padding: 20px;
  }
  